<% include partials/header.ejs %>
    <div>
        <a class="w3-button w3-black w3-padding-large w3-large" href="/user" title="User Management">User Management</a>
        <a class="w3-button w3-black w3-padding-large w3-large" href="/user/add" title="Add a New user">Add a user</a>
        <% if (users.length > 0) {%>
            <div class="container w3-padding-16">
                <table class="table table-hovered">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Image</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Number</th>
                        <th scope="col">Username</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% users.forEach((user, index) => { %>
                        <tr>
                            <th scope="row"><%= user.id %></th>
                            <td><img src="/assets/img/<%= user.image %>" class="rounded-circle user-img" alt=""></td>
                            <td><%= user.first_name %></td>
                            <td><%= user.last_name %></td>
                            <td><%= user.gender %></td>
                            <td><%= user.number %></td>
                            <td>@<%= user.user_name %></td>
                            <td>
                                <a href="/user/edit/<%= user.id %>" rel="noopener" class="btn btn-sm btn-success">Edit</a>
                                <a href="/user/delete/<%= user.id %>" class="btn btn-sm btn-danger">Delete</a>
                            </td>
                        </tr>
                    <% }) %>
                    </tbody>
                </table>
            </div>

        <% } else { %>
            <p class="text-center">No users found. Go <a href="/user/add" >here</a> to add users.</p>
        <% } %>
    </div>
</div>
</body>
</html>